body {
  margin: auto;
  width: 50%;
  padding: 15px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.title {

}

.form {
  margin-top: 20px;
}

a {
  color: #00B7FF;
}

footer {
  margin-top: 50px;
}
